@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,400;0,700;1,400;1,500&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  display: block;
}

:root {
  color: rgb(200, 200, 200);
  font-family: "Cormorant Garamond", serif;
}

ol {
  list-style-position: inside;
}

body {
  background: rgb(100, 100, 100);
}

.main-container {
  background-color: green;
  padding: 20px;
}

.container {
  padding: 20px;
}
th,
td {
  padding: 5px 10px;
}

.title-container {
  background-color: red;
}

.ingredients-container {
  background-color: orange;
}

.ingredients-container > table {
  border-collapse: collapse;
}
.ingredients-container > table tr:nth-child(even) {
  background-color: rgba(255, 255, 255, 0.1);
}
.ingredients-container > table tr:nth-child(even):hover {
  background-color: rgba(255, 255, 255, 0.3);
}
tr:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.method-container {
  background-color: yellow;
}
.method-container > ol {
}

.tips-container {
  background-color: pink;
}
