/* :root {
  --background-colour-transp: rgba(0, 0, 0, 0.2);
  --background-colour: #002886;
  --title-colour: #6fa1fe;
  --subtitle-colour: #6fa1fe;
  --text-colour: #ffffff;
  --link-text-colour: #6fa1fe;
  --link-text-colour-hover: #ffffff;
  --button-colour: #ffffff;
} */
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,400;0,700;1,400;1,500&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

:root {
  color: rgb(200, 200, 200);
  font-family: "Cormorant Garamond", serif;
}

body {
  background: rgb(100, 100, 100);
}

main {
  scroll-snap-type: y mandatory;
  scroll-padding-top: 10vh;
  height: 100vh;
  overflow: auto;
}
main > * {
  padding: 1rem;
}

header {
  position: sticky;
  top: 0;
  box-shadow: 0 3px 3px rgba(255, 255, 255, 0.16);
  background: rgba(0, 0, 0, 0.2);
  --webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.button-container > button {
  background-color: transparent;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  border-bottom: solid 1px rgb(200, 200, 200);
  margin-left: 20;
  color: rgb(200, 200, 200);
}

.button-container > button:hover {
  background: rgba(255, 255, 255, 0.1);
}

main > section {
  scroll-snap-align: start;
  display: flow-root;
  column-width: 100%;
  hyphens: auto;
  height: 90vh;
}

main > section:nth-child(odd) {
  background: rgb(100, 100, 100);
}
main > section:nth-child(odd) figure {
  float: left;
  margin: 0 1rem 0 0;
}

main > section:nth-child(even) {
  background: rgb(80, 80, 80);
}

main > section:nth-child(even) figure {
  float: right;
  margin: 0 0 0 1rem;
}

main > section > p {
  margin: 10px;
}
section figure {
  max-width: 200px;
}
section img {
  display: block;
  max-width: 100%;
}

figcaption {
  margin-top: 0.25rem;
  font-size: 0.95rem;
  text-align: center;
  font-style: italic;
}

p {
  text-align: justify;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

a:link,
a:visited {
  color: rgb(200, 200, 200);

  font-weight: 500;
}

.countries-container {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.country-container {
  background-color: red;
  padding: 20px;
  text-align: center;
  position: relative;
}

.country-container::before {
  content: "";
  padding-top: 100%;
  display: block;
  background-color: green;
}

.country-container > img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

.country-container > .name-container {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  bottom: 0;
  left: 0;
  width: 100%;
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}

.country-container > .name-container:hover {
  background-color: rgba(40, 40, 40, 0.7);
}
